<template>
    <Head title="Welcome" />

    <div v-if="canLogin" class="sm:fixed sm:top-0 sm:right-0 p-6 text-right">
        <nav-link :canLogin="canLogin" :canRegister="canRegister"></nav-link>
    </div>
    <h1 class="to-zinc-900 text-center my-28 text-5xl">Voici nos stars!</h1>

    <celebrity-preview :celebrities="celebrities" :isLogged="isLogged"></celebrity-preview>
</template>

<script setup>
import { Head, Link } from '@inertiajs/vue3';
import CelebrityPreview from '@/Components/CelebrityPreview.vue';
import NavLink from '@/Components/NavLink.vue';

defineProps({
    canLogin: Boolean,
    canRegister: Boolean,
    celebrities: Object,
    isLogged: Boolean
});

</script>

<style>

</style>