<template>
    <div class="py-12" v-for="celebrity in celebrities" :key="celebrity.id">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg flex justify-between">
                    <div>
                        <img class="relative inline-block h-24 w-24 rounded-2xl object-cover object-center m-3" :src="celebrity.img">
                        <span class="p-6 text-gray-900 font-bold ">{{ celebrity.name }}</span>
                    </div>
                    <div v-if="!isLogged" class="mr-5">
                        <button @click="editCelebrity" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 m-3 rounded">
                            Editer
                        </button>
                        <button @click="deleteCelebrity(celebrity.id)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 m-3 rounded">
                            Supprimer
                        </button>
                    </div>
                </div>
                <div class="p-6 text-gray-900 font-bold shadow-sm">{{ celebrity.description }}</div>
            </div>
        </div> 
 
</template>

<script setup>
import axios from "axios"
import { ref } from "vue"

const props = defineProps({
    celebrities: Object,
    isLogged: Boolean
});

let celebrities = ref(props.celebrities)
let isLogged = ref(props.isLogged)

const editCelebrity = () => {
    console.log(props.celebrity.id)
}

const deleteCelebrity = async (id) => {
    console.log('del')
    try{
        console.log('del')
        await axios.delete(`/api/celebrity/${id}`)
        celebrities = await axios.get(`/api/celebrity/`)
        
    } catch (err){
        console.error(err)
    }
}
</script>

<style lang="scss" scoped>

</style>