<template>
    <Head title="Admin" />

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Dashboard</h2>
        </template>
        <celebrity-preview :celebrities="celebrities" :isLogged="isLogged"></celebrity-preview>
    </AuthenticatedLayout>
</template>

<script setup>
import CelebrityPreview from '@/Components/CelebrityPreview.vue';
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head } from '@inertiajs/vue3';

defineProps ({
    celebrities: Object,
    isLogged: Boolean
})

</script>
